body {
    color: #fffffff3;
    font-family: Times;
    font-size: x-large;
    font-style: normal;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    background-image: url('../image/2.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* text-size-adjust: 10px; */
}

footer {
    color: #000000;
    border-top: 1px solid #093ff3;
    margin-top: 30%;
    padding: 16px 0;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #093ff3;
    margin-right: 16px;
    text-decoration: none;
}

* {
    box-sizing: border-box;
  }

input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 30%;
    background: #f1f1f1;
}
  
  #submit {
    float: left;
    width: 15%;
    padding: 10px;
    background: rgb(12, 139, 243);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
  }
  
#formid button:hover {
    background: #0b7dda;
}
  
input[type=text]:focus {
    width: 50%;
}

#getlocation {
  margin-left: 10px;
  margin-top: 5px;
}


header a:hover {
  color: #0b7dda;
  margin-right: 16px;
  text-decoration: none;
}


span button {
  background:none;
  color:inherit;
  border:none; 
  font: inherit;
  cursor: pointer;
}


